@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../assets/fonts/HelveticaNeue.ttf");
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../../assets/fonts/HelveticaNeueBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../../assets/fonts/HelveticaNeueMedium.ttf");
  font-weight: 500;
}
