.notification-counter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);

  border-radius: 100%;
  font-weight: bold;
  color: white;
}
.notification-counter.blue {
  background-color: $color-primary;
}
.notif-board {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;

  &-item {
    display: grid;
    grid-template-columns: max-content max-content;
  }
  &-circle {
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #707070;
    border-radius: 100%;
    margin-right: 0.3rem;
  }
  &-bar {
    display: block;
    height: 100%;
    background-color: #707070;
    border-radius: 1rem;
  }
  .long {
    width: 2.5rem;
  }
  .short {
    width: 2rem;
  }
  .medium {
    width: 2.2rem;
  }
}
