.header {
  display: grid;
  grid-template-columns: 1fr max-content max-content max-content;
  height: 15rem;
  padding: 3rem 9rem;
  align-items: center;
  justify-content: center;

  &-logo {
    display: flex;
    align-items: center;
    &_container {
      width: 20rem;
      img {
        width: 100%;
      }
    }
  }

  &-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      overflow: hidden;
      border-bottom: 0.2rem solid black;

      img {
        height: 100%;
      }
      input {
        height: 100%;
        border: none;

        input::placeholder {
          display: none;
        }
      }
    }
  }

  &-nav {
    display: flex;

    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      list-style-type: none;

      &_item {
        display: flex;

        &-icon {
          height: 3rem;

          img {
            height: 50%;
          }
        }
      }
    }
  }
}
