.header {
  display: grid;
  grid-template-columns: 1fr max-content max-content max-content;
  padding: 2rem 7.5rem;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 3px 50px #1877ff1c;

  &-logo {
    display: flex;
    align-items: center;
    &_container {
      width: 17rem;
      img {
        width: 100%;
      }
    }
  }

  &-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    padding: 0.5rem;

    border-bottom: 0.2rem solid black;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.5rem;
      overflow: hidden;

      img {
        height: 100%;
        margin: 2rem;
      }
      input {
        height: 100%;
        width: 20rem;

        border: none;
      }
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    &-list {
      display: flex;
      margin-left: 2rem;

      list-style-type: none;

      &_item {
        display: flex;
        padding: 0 2.5rem;
        border-right: 1px solid rgba(128, 128, 128, 0.411);

        &-icon {
          height: 3rem;
          position: relative;
          width: 3rem;
          margin-right: 1.5rem;

          img {
            height: 70%;
          }
          .market-icon {
            height: 90%;
            margin-top: -15%;
          }
          .notification-counter {
            font-size: 1rem;
            padding: 0.3rem;
            height: 1.8rem;
            width: 1.8rem;
          }
        }
        &-text {
          font-size: 1.7rem;
          color: #707070;
        }
      }
    }
  }
  &-profile {
    margin-left: 2rem;

    &_avatar {
      width: 4rem;
      height: 4rem;
      overflow: hidden;
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: 0.1rem solid $color-primary;

      img {
        width: 200%;
      }
    }
    &_name {
      font-size: 1.5rem;
      font-weight: bold;

      i {
        color: $color-primary;
      }
    }
  }
}
input::placeholder {
  color: #b4b4b4;
  font-family: "Nunito";
  font-size: 1.8rem;
}
.search-active {
}
